<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RPlugin.Properties.Settings>
            <setting name="TempPath" serializeAs="String">
                <value>RPlugin</value>
            </setting>
            <setting name="TempCache" serializeAs="String">
                <value>cache</value>
            </setting>
            <setting name="TempScripts" serializeAs="String">
                <value>scripts</value>
            </setting>
            <setting name="Resources" serializeAs="String">
                <value>RPlugin.Resources.</value>
            </setting>
            <setting name="DoublePrecision" serializeAs="String">
                <value>1E-06</value>
            </setting>
        </RPlugin.Properties.Settings>
    </applicationSettings>
</configuration>